# --- Framework Base y Extensiones ---
Flask==3.1.3
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-WTF==1.2.2
Flask-Bcrypt==1.0.1
Flask-PyMongo==3.0.1
Flask-Migrate==4.0.5
Flask-SQLAlchemy==3.1.1

# --- Base de Datos y Conectividad ---
pymongo==4.16.0
dnspython==2.8.0
mysql-connector-python==8.2.0
SQLAlchemy==2.0.48
alembic==1.18.4

# --- Utilidades de Sistema y Configuración ---
python-dotenv==1.2.2
psutil==7.2.2
schedule==1.2.0
click==8.3.1
blinker==1.9.0
itsdangerous==2.2.0
Werkzeug==3.1.7

# --- Procesamiento de Datos y Reportes ---
pandas==3.0.2
numpy==2.4.4
matplotlib==3.10.8
openpyxl==3.1.5
python-dateutil==2.9.0.post0
pytz==2026.1.post1

# --- Seguridad y Validación ---
bcrypt==5.0.0
cryptography==42.0.2
email-validator==2.3.0
idna==3.11
WTForms==3.2.1
MarkupSafe==3.0.3
Jinja2==3.1.6

# --- Google API (Mantenidas de tu lista original) ---
google-api-python-client==2.108.0
google-auth-oauthlib==1.1.0
google-auth-httplib2==0.1.1
requests==2.32.5
urllib3==2.6.3